/* Mobile first (0 - 767px) */
.container {
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* ≥ 768px */
@media (min-width: 768px) {
  .container {
    width: 100%;

    max-width: 768px;
  }
}

/* ≥ 1024px */
@media (min-width: 1024px) {
  .container {
    width: 100%;

    max-width: 960px;
  }
}

/* ≥ 2560px */
@media (min-width: 2560px) {
  .container {
    width: 100%;

    max-width: 1400px;
    align-items: center;
    justify-content: center;
  }
}
