.container {
  width: 100%;
  min-width: 360px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: 768px) {
    min-width: 768px;
  }

  @media (min-width: 1024px) {
    min-width: 1024x;
  }

  @media (min-width: 2560px) {
    max-width: 1170px;
    align-items: center;
    justify-content: center;
  }
}
