.hero {
  background-image: url("../assets/pexels-alexandr-podvalny-1227513.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.hero__content {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 16px 71px;
  /* Фон покриває всю ширину, але контент центрується */
  width: 100%;

  /* Створюємо внутрішній контейнер для центрування тексту */
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 89px 194px;
  }

  @media (min-width: 1024px) {
    padding: 164px 322px;
  }

  @media (min-width: 2560px) {
    padding: 164px 395px;
  }
}

.hero_title {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: #fff;
  max-width: 380px;
}

.hero_p {
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: 380px;
}

.hero__btn {
  width: 100px;
  height: 34px;
  margin-top: 32px;
  font-size: 16px;
  background: #f4e041;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 80px;
  color: rgba(0, 0, 0, 0.87);
}

.hero__btn:hover {
  background-color: #ffe302;
}
